/* Base */
@import url(https://fonts.googleapis.com/css?family=Lexend:100,200,300,regular,500,600,700,800,900);
*,
*::before,
*::after {
  font-family: 'Lexend', sans-serif;
  padding: 0;
  margin: 0;
}
:root {
  --primary-color: #10b981;
  --strong-primary-color: #047857;
  --fade-primary-color: #d1fae5;
  --secondary-color: #1b1c57;
  --fade-secondary-color: #626687;
}

body {
  padding-left: 1em;
}
.center-me {
  display: flex;
  justify-content: center;
  align-items: center;
}
.radius-me {
  border-radius: 32px;
}
/* End of base */

/* Navbar */
.name-logo {
  margin-left: 1em;
  font-weight: bold;
  color: var(--secondary-color);
}
.nav {
  justify-content: space-between;
  padding: 0 3em;
  margin-top: 2.8125em;
}
.logo-nav {
  flex-grow: 7;
  justify-content: flex-start;
}
.list-nav {
  flex-grow: 3;
  justify-content: flex-end;
  gap: 1.5em;
}
.list-nav-item {
  text-decoration: none;
  color: white;
  font-size: 0.875em;
  background: #ffffff1a;
  transition: all 0.3s ease-in-out;
  border: 0.016em solid #ffffff4d;
  padding: 8px 16px 8px 16px;
}
.sign-up-nav {
  font-weight: 600;
  color: var(--strong-primary-color);
  margin-left: 10em;
  background: var(--fade-primary-color);
  transform: scale(1.2);
}

/* End of Navbar */

/* Banner */
.banner {
  margin-top: 4.5em;
  align-items: flex-end;
}
.banner-image {
  right: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  z-index: -2;
  max-width: 55%;
  border-end-start-radius: 80px;
}
@keyframes change_image {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.title-banner-left {
  font-size: 2.5em;
  text-transform: capitalize;
  color: var(--secondary-color);
}
.title-banner-left span {
  color: white;
  filter: drop-shadow(0px 0px 1px var(--secondary-color));
}
.slogan-title-banner-left {
  margin-top: 2em;
  font-size: 13px;
  color: var(--fade-secondary-color);
}
.right-banner,
.left-banner {
  flex-grow: 1;
}
.left-banner {
  max-width: 45%;
  flex-direction: column;
}
.input-location-wrapper {
  margin-top: 2em;
  border: 1px solid #e0e3eb;
  padding: 4px 4px 4px 24px;
  width: 400px;
  justify-content: space-between;
}
.left-input-location {
  gap: 1em;
  flex-grow: 1;
}
.input-location {
  border: none;
  width: 100%;
  outline: none;
  color: #626687;
}
.right-input-location {
}
.right-input-location-button {
  border: none;
  height: 2.8em;
  width: 6.8125em;
  background: #10b981;
  color: white;
}

.banner-partner {
  margin-top: 2em;
  flex-direction: column;
  align-items: flex-start;
}
.title-partner {
  color: #626687;
  font-weight: normal;
}
.partner-list {
  gap: 1em;
  margin-top: 1em;
}
.partner-list img {
  width: 5.1875em;
}
.banner-achievements {
  gap: 1em;
  align-items: flex-end;
}
.achievement-item {
  gap: 2em;
  background: white;
  justify-content: space-around;
  width: var(--width);
  height: 5.5em;
}
.achievement-item-image {
  position: relative;
}
.achievement-item-image-item {
  border-radius: 50%;
  width: 40px;
  position: absolute;
  margin-left: var(--margin-left);
  border: 2px solid white;
}
.achievement-item-title {
  color: #1b1c57;
  font-size: 14px;
}
.achievement-item-slogan {
  color: var(--fade-secondary-color);
  font-size: 13px;
}
.left-arrow,
.right-arrow {
  background: #d9d9d9;
  border-radius: 50%;
  padding: 5px 5px 2px 5px;
  position: absolute;
  top: 50%;
}
:is(.left-arrow, .right-arrow):hover {
  background: #a6a6a6;
}
.left-arrow {
  left: 1em;
}
.right-arrow {
  right: 1em;
}
/* End of Banner */
